
  .self_margin{
    margin-top: -108px;
  }
  .item_center p{

    text-align: center;
    padding-top: 13px;
  }
  .footer{
    height: 50px;
  
  }
  .reg-btn{
    background-color: rgb(0, 70, 128);
    margin-top: 10px;
 }
  .reg-btn:hover{
     background-color: green;
  }
  .form-group{
    margin-top: 10px;
  }
  .heg{
    color: rgb(7, 61, 131);
  }